body {
    padding: 30px;
    margin: 0 auto;
    width: 600px;
}

.upload_form{
    text-align: center;
}

.navbar-header {
    text-align: center;
    margin-right:20px;
}

.container-fluid {
    width:100%;
    display:flex;
    margin: 0 auto 20px;
    align-content: center;
}

.title {
    width:70%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 20px;
    

} 

button, input, select, textarea, pre, th, td, li, dt, dd {
    font-family: inherit;
    font-size: 1rem;
    }

p {
    margin-bottom: 0px;
}

textarea {
    width: 70%;
    height: 60px;
}
.file-up {
    width:70%;
    margin: 0 auto 10px;
}

.input_text {
    width: 70%;
    height:30px;
}

.input_lasttext {
    width: 70%;
    height:30px;
    margin-bottom: 10px;
}

.submit {
    width:70%;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    border-radius: 3px;
    font-size: 18px;
    background: #67c5ff;
    border: 2px solid #67c5ff;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 200px;
}

.btn2 {
    margin-right:5px;
}

img {
    width:100%;
}

.wrap {
    display:flex;
    width:100%;
    margin-bottom:30px;
}

.text_output {
    width:50%;
    margin-bottom:10px
}

.text_table {
    table-layout: fixed;
    width: 99%;
    margin: 0 0 5px 0;
}

.text_table td{
    word-wrap: break-word;
}

.product_image {
    width:50%;
}

.title2 {
    width:100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
} 

.after_found {
    width:70%;
    margin: 0 auto;
}

.lati_long {
    margin:0;
}

.checkbox {
    width:70%;
    text-align: left;
}

.file_upload_btn {
    float:left;
    width:100%;
}

.file_confirm {
    margin-bottom:20px;
}


@media screen and (max-width:640px){

body{
    width:100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.wrap{
    display:block;
    margin-bottom:50px;
}

.product_image{
    width: 80%;
    margin: 0 auto;
}

.text_output {
    width:80%;
    margin: 0 auto 10px;
}

.text_table {
    width:100%;
    margin-bottom: 5px;
}

.wrap.mobile {
    display:flex;
}

.navbar-header {
    text-align: center;
    margin-right:10px;
}
}